.footer {
  position: relative;
  padding: $header-padding-vertical $header-padding-horizontal;
  @extend .clearfix;
  address {
    font-family: 'Gotham Book';
    font-size: $font-size-small;
    text-transform: uppercase;
    line-height: $line-height-computed * 1.1;
  }
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Gotham Black';
  li {
    margin: 0 0 10px;
  }
}

@media (min-width: $screen-sm-min) {
  .footer address {
    float: left;
    margin-bottom: 0;
  }
  .footer-links {
    margin-top: 20px;
    float: right;
    li {
      display: inline-block;
      margin: 0 10px 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
