.header {
  z-index: $z-index-header;
  height: $header-height-xs;
  padding: $header-padding-vertical $header-padding-horizontal;
  background-color: $white;
  background-color: transparentize($white, 0.05);
  &-logo {
    display: inline-block;
    float: left;
    height: $header-height-xs--usable;
    width: $header-height-xs--usable * 2.5;
    &--image {
      background-image: url(/img/logo-green-header.png);
      background-repeat: no-repeat;
      background-size: auto $header-height-xs--usable;
    }
    &--svg {
      display: none;
      path,
      polygon,
      rect {
        fill: darken($brand-primary, 2%);
      }
      .logo-svg-border {

      }
    }
  }
  + section.js--full-screen {
    // Pull this section up because we're going to fullscreen it but it's the top section so we want it to fill the screen minus the height of the header
    position: relative;
    overflow-y: visible;
    margin-top: -$header-height-xs;
    padding-bottom: $header-height-xs;
  }
  .blurb {
    float: right;
    font-family: 'Avenir';
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: $header-height-xs--usable;
    font-size: $font-size-small;
    img {
      position: relative;
      height: $header-height-xs--usable - 4px;
      margin-left: ($header-height-xs--usable - 4px) / 4;
      top: -2px;
    }
  }
}

@include retina-rule {
  .header-logo--image {
    background-image: url(/img/logo-green-header@2x.png);
  }
}

@media (min-width: $screen-sm-min) {
  .header {
    height: $header-height;
    &-logo {
      height: $header-height--usable;
      width: $header-height--usable * 2.5;
      &--image {
        background-size: auto $header-height--usable;
      }
    }
    .blurb {
      font-size: $font-size-large;
      line-height: $header-height--usable;
      img {
        height: $header-height--usable - 12px;
        margin-left: ($header-height--usable - 12px) / 2;
        top: -4px;
      }
    }
    + section.js--full-screen {
      margin-top: -$header-height;
      padding-bottom: $header-height;
    }
  }
}

@media (min-width: $screen-md-min) {
  // Fix the header on desktop screens
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    + section.js--full-screen {
      // TODO - Figure out this top section business
      //
      // reset the top of the section imediately following the header
      // and add a top margin that matches the height of the header because the header is fixed tothe top and we're going to full screen this section
      // but we don't want to keep the content centered in the visible region
      margin-top: $header-height;
      padding-bottom: 0;
      overflow-y: hidden;
    }
  }
}

// SVG supported
.svg {
  .header-logo--image {
    display: none;
  }
  .header-logo--svg {
    display: inline-block;
  }
}
