@import "sections/home";
@import "sections/intro";
// @import "sections/clients";
@import "sections/closing";

section {
  position: relative;
  z-index: $z-index-section;
}

.section-inner {
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
.section-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.section-bg {
  @include square(100%);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: -1;
  overflow: hidden;

  &--blue {
    background-image: url('/img/bg/bg_blue_xs.jpg');
  }
  &--purple {
    background-image: url('/img/bg/bg_purple_xs.jpg');
  }
  &--teal {
    background-image: url('/img/bg/bg_teal_xs.jpg');
  }
  &--magenta {
    background-image: url('/img/bg/bg_magenta_xs.jpg');
  }
  &--yellow {
    background-image: url('/img/bg/bg_yellow_xs.jpg');
  }
  &--snoop {
    background-image: url('/img/bg/bg_snoop_xs.jpg');
  }
}

.section--ability {
  text-align: center;
  background-color: $brand-text;
  color: $white;
}
.section-header {
  margin-bottom: $line-height-computed * 2;
  font-size: $font-size-h2;
  text-transform: uppercase;
  white-space: nowrap
}
.section-points {
  list-style: none;
  margin: 0 0 ($line-height-computed * 2);
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  li {
    display: block;
    margin: 8px 0;
  }
}

.section-description {
  max-width: $screen-sm-min * 0.9;
  margin-left: auto;
  margin-right: auto;
  font-size: $font-size-large;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

@media (min-width: $screen-xs-min) {
  .section-header {
    font-size: $font-size-h1;
  }
  .section-points {
    li {
      display: inline-block;
      margin: 0 12px;
    }
  }
  .section-bg {
    &--blue {
      background-image: url('/img/bg/bg_blue_sm.jpg');
    }
    &--purple {
      background-image: url('/img/bg/bg_purple_sm.jpg');
    }
    &--teal {
      background-image: url('/img/bg/bg_teal_sm.jpg');
    }
    &--magenta {
      background-image: url('/img/bg/bg_magenta_sm.jpg');
    }
    &--yellow {
      background-image: url('/img/bg/bg_yellow_sm.jpg');
    }
    &--snoop {
      background-image: url('/img/bg/bg_snoop_sm.jpg');
    }
  }
}

@media (min-width: $screen-sm-min) {
  .section-header {
    font-size: $font-size-h1 * 1.5;
    letter-spacing: 3px;
  }
  .section-bg {
    &--blue {
      background-image: url('/img/bg/bg_blue.jpg');
    }
    &--purple {
      background-image: url('/img/bg/bg_purple.jpg');
    }
    &--teal {
      background-image: url('/img/bg/bg_teal.jpg');
    }
    &--magenta {
      background-image: url('/img/bg/bg_magenta.jpg');
    }
    &--yellow {
      background-image: url('/img/bg/bg_yellow.jpg');
    }
    &--snoop {
      background-image: url('/img/bg/bg_snoop.jpg');
    }
  }
}

section.js--parallax {
  &#compliance {
    overflow-y: hidden;
  }
  .section-inner {
    position: fixed;
    display: table;
  }
}
