#clients {
  @include clearfix;
}

.client-grid {
  .grid-item {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
  }
  .grid-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center 25%;
    background-size: cover;
  }
}

@media (min-width: $screen-xs-min) {
  .client-grid {
    .grid-item {
      width: 50%;
      padding-bottom: 50%;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .client-grid {
    .grid-item {
      width: 25%;
      padding-bottom: 25%;
    }
    .grid-item-bg {
      background-position: center;
    }
  }
}
