.contact-us-panel {
  padding: 80px 0;
  text-align: center;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $brand-primary;
  background: -webkit-linear-gradient(left, darken($brand-primary, 2%) 0%,$brand-primary 33%,$brand-primary 66%,darken($brand-primary, 2%) 100%);
  background-image: url('/img/bg/bg_desk_xs.jpg');
  background-size: cover;
  background-position: center center;
  h2 {
    margin-bottom: $line-height-computed * 1.5;
  }
  button {
    padding: 15px 45px;
    background-color: transparentize($black, 0.5);
    border: 2px solid $white;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 200ms ease;
    &:hover,
    &:active {
      color: $brand-primary;
      background-color: $white;
      transition: all 200ms ease;
    }
  }
}

@media (min-width: $screen-xs-min) {
  .contact-us-panel {
    padding: 120px 0;
    background-image: url('/img/bg/bg_desk.jpg');
  }
}
