.section-bg {
  &--home {
    position: absolute;
    // top:    0;
    // left:   0;
    // bottom: 0;
    // right:  0;
    background-image: url(/img/home-bg-green-xs.jpg);
  }
}

.home-tagline {
  width: 100%;
  padding: 0 10px;
  font-size: 40px;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  span {
    font-size: $font-size-h3;
    display: block;
    letter-spacing: 0;
    margin-bottom: -9px;
  }
}

@keyframes scroll-tickle-bounce {
  0%, 100%  { transform: translateY(0%); }
  50%       { transform: translateY(5px); }
}

@-webkit-keyframes scroll-tickle-bounce {
  0%, 100%  { -webkit-transform: translateY(0%); }
  50%       { -webkit-transform: translateY(5px); }
}

.home-scroll-tickle {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-h5;
  letter-spacing: 2px;
  font-weight: bold;

  a {
    display: inline-block;
    width: 300px;
    padding-bottom: 10px;
    color: $white;
    @include opacity(0.5);
    will-change: transform;
    transition: opacity 200ms ease-out;
    img {
     display: block;
     position: relative;
     width: 50px;
     height: 15px;
     margin: 10px auto 0;
    }
    &:hover {
        @include opacity(1);
        transition: opacity 200ms ease-out;
        animation-name: scroll-tickle-bounce;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96); // in out quadratic
    }
  }
}

@media (min-width: $screen-xs-min) {
  .home-tagline {
    font-size: 55px;
  }
}

@media (min-width: $screen-sm-min) {
  .section-bg--home {
    background-image: url(/img/home-bg-green-sm.jpg);
  }
  .home-tagline {
    font-size: 70px;
    letter-spacing: 5px;
    span {
      margin-bottom: -18px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .section-bg--home {
    background-image: url(/img/home-bg-green-lg.jpg);
  }
  .home-tagline {
    font-size: 105px;
  }
}
