.slide--home {
  padding-top: $header-height-xs;
  overflow: hidden;
}

.home-bg {
  position: absolute;
  z-index: 0;
  top:    -5px; // stretching the bg outside the viewport means we can blur this without getting a white border around it
  left:   -5px;
  bottom: -5px;
  right:  -5px;
  background-image: url(/img/home-bg-xs.jpg);
  background-size: cover;
  background-position: center 0;
}

.home-taglines-wrapper {
  position: relative;
}

.home-tagline {
  position: absolute;
  width: 100%;
  top: -$header-height-xs;
  padding: 0 10px;
  font-size: 40px;
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  text-align: center;
}

@media (min-width: $screen-sm-min) {
  .slide--home {
    padding-top: $header-height;
  }
  .home-bg {
    background-image: url(/img/home-bg-sm.jpg);
  }
  .home-tagline {
    top: -$header-height;
    font-size: 60px;
  }
}

@media (min-width: $screen-md-min) {
  .home-bg {
    background-image: url(/img/home-bg.jpg);
  }
}
