#intro {
  position: relative;
  color: $brand-text;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.intro-header {
  @extend .container; // to give it a max width
  margin-bottom: $line-height-computed * 2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $font-size-h1;
}

.intro-content {
  @extend .col-md-10;
  @extend .col-md-offset-1;
  @extend .col-lg-8;
  @extend .col-lg-offset-2;
}

.intro-text {
  margin-bottom: $line-height-computed * 2;
  font-size: $font-size-h4;
}

.intro-subtext {
  margin-bottom: 50px;
  font-size: $font-size-h2;
}

.intro-subtext-marker {
  position: relative;
  top: -5px;
  height: 25px;
  width: 17px;
  margin-right: 2px;
}

.section-bg.intro-succulents {
  background-image: url(/img/succulents.jpg);
  background-size: 333px 157px;
  background-repeat: no-repeat;
  background-position: 101% 95%;
  @include opacity(0.95);
}

@include retina-rule {
  .section-bg.intro-succulents {
    background-image: url(/img/succulents@2x.jpg);
  }
}

@media (min-width: $screen-xs-min) {
  .intro-header {
    font-size: $font-size-h1 * 1.3;
  }
  .section-bg.intro-succulents {
    background-size: 375px 177px;
    background-position: 101% 85%;
  }
}

@media (min-width: $screen-sm-min) {
  .intro-header {
    font-size: $font-size-h1 * 2;
  }
  .section-bg.intro-succulents {
    background-size: 500px 236px;
    background-position: 101% 73%;
  }

}
