.slide {
  &--process {
    background-color: $gray-darker;
    color: invert($gray-darker);
    .section-title {
      color: $gray-light;
    }
  }
}

.process-steps-inline {
  display: none;
  margin: 0 20px 20px;
}

.process-step-inline {
  width: (100% / 6);
  float: left;
  img {
    width: 60px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
  }
}

.process-step-title {
  position: relative;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid $gray-light;
  background: $gray-darker;
  color: $gray-light;
  font-weight: bold;
  font-size: $font-size-small;
  text-transform: uppercase;
}

.process-steps-absolute {
  position: relative;
  height: 200px;
  text-align: center;
}

.process-step-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  img {
    height: 120px;
    width: auto;
    margin: 0 auto 20px;
  }
}

.process-step-descriptions {
  position: relative;
  color: $gray-light;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.process-step-description {
  position: absolute;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: $screen-xs-min) {
  .process-step-title {
    border: none;
    font-size: $font-size-large;
  }
}

@media (min-width: $screen-xs-min) {
  .process-steps-absolute {
    display: none !important;
  }
  .process-steps-inline {
    display: block;
  }
}

@media (min-width: $screen-sm-min) {
  .process-steps-inline {
    max-width: $container-lg;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 80px;
      margin-bottom:20px;
    }
  }
  .process-step-title {
    margin: 0 25px;
  }
  .process-step-descriptions {
    font-size: $font-size-large;
  }
}

@media (min-width: $screen-md-min) {
  .process-steps-inline {
    img {
      width: 120px;
    }
  }
  .process-step-title {
    margin: 0 auto;
    max-width: 160px;
    font-size: $font-size-large;
  }
  .process-step-descriptions {
    font-size: $font-size-h3;
  }
}
