<section id="closing" class="closing-panel js--parallax">
  
  <h2 class="logo-grid-title">Our Partnerships</h2>
  <ul class="logo-grid">
    <li><img src="/img/clients/knockouts/apothecanna.png" /></li>
    <li><img src="/img/clients/knockouts/honeysupply.png" /></li>
    <li><img src="/img/clients/knockouts/eaze.png" /></li>
    <li><img src="/img/clients/knockouts/highlyeducated.png" /></li>
    <li><img src="/img/clients/knockouts/nexus.png" /></li>
    <li><img src="/img/clients/knockouts/raesremmurd.png" /></li>
    <li><img src="/img/clients/knockouts/rickjames.png" /></li>
    <li><img src="/img/clients/knockouts/snoopdogg.png" /></li>
    <li><img src="/img/clients/knockouts/ssur.png" /></li>
    <li><img src="/img/clients/knockouts/stash.png" /></li>
    <li><img src="/img/clients/knockouts/tcase.png" /></li>
    <li><img src="/img/clients/knockouts/tealer.png" /></li>
  </ul>

  <div class="closing-panel-divider"></div>

  <h2>Like What you see?</h2>
  <button data-overlay="#contact-form">Find out more</button>

</section>
