<footer id="footer" class="footer">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <img src="/img/logo-green-full.png" class="footer-logo">
      </div>
      <div class="col-sm-8 col-xs-12">
        <ul class="footer-links">
          <li><a href="#" data-overlay="#contact-form">contact</a></li>
          <!-- <li><a href="#">about green st.</a></li> -->
          <!-- <li><a href="#">privacy policy</a></li> -->
          <!-- <li><a href="#">terms of use</a></li> -->
          <li><a href="http://www.instagram.com/greenstreetagency">Instagram</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <address>
          5651 Wilshire Blvd, Suite C<br/>
          Los Angeles, CA, 90036
        </address>
      </div>
    </div>

  </div>

  <div class="footer-bg"></div>

</footer>
