<div id="contact-form" class="overlay">
    <a href="#" class="overlay-close" title="Close">&times;</a>
    <div class="overlay-content-container">
      <div class="overlay-content">
        <div class="overlay-title">Contact Us</div>
        <form id="contact">
            <input type="email" class="overlay-input" name="email" placeholder="E-Mail Address">
            <textarea class="overlay-input" name="message" placeholder="What can we do for you?"></textarea>
            <input type="hidden" name="url" value="">
            <input type="submit" value="Send" class="overlay-input">
        </form>
      </div>
    </div>
</div>
