<div id="home" class="slide slide--home">
  <div class="home-bg"></div>
  <div class="v-center">
    <div class="v-center-content">
      <div class="home-taglines-wrapper">

        <div id="home-tagline-1" class="home-tagline">
          Welcome to Green St
        </div>
        <div id="home-tagline-2" class="home-tagline">
          A marijuana focused marketing agency
        </div>

      </div>
    </div>
  </div>
  <div class="home-scroll-tickle">
    <a href="#">
      Get to know us
      <img src="/img/down-arrow-black.png"/>
    </a>
  </div>
</div>
