<section id="intro" class="js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg intro-nugz"></div>
    <div class="section-content">

        <h1 class="intro-header">
          Smoke and a pancake?
        </h1>

        <div class="container">
          <div class="row">
            <div class="intro-content">
              <div class="intro-text">
                We're a full service creative agency that works exclusively within the marijuana industry.  We enable brands to connect with influencers and consumers through non-traditional means to build brand awareness and loyalty.
              </div>

              <div class="intro-subtext">
                <img src="/img/marker.png" class="intro-subtext-marker" />
                Based in Los Angeles
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
