<section id="compliance" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--yellow"></div>
    <div class="section-content">
      <h2 class="section-header">Regulatory compliance</h2>
      <ul class="section-points">
        <li>Risk Assessment</li>
        <li>Operation Best Practices</li>
        <li>Permit Acquisition</li>
        <li>Regulatory Agency Liason</li>
      </ul>
      <div class="section-description">
        A fundamental necessity for success is a comprehensive understanding of the current local and state regulations pertaining to cannabis cultivation and distribution.
      </div>
    </div>
  </div>
</section>
