<div id="clients" style="background-color: salmon;">
  <div class="client-grid">
    <div class="grid-item" title="Bhang Medicinal Chocolate">
      <div class="grid-item-bg" style="background-image: url(/img/clients/bhang.jpg);"></div>
    </div>
    <div class="grid-item" title="Grassp">
      <div class="grid-item-bg" style="background-image: url(/img/clients/grassp.jpg)"></div>
    </div>
    <div class="grid-item" title="Grenco Science">
      <div class="grid-item-bg" style="background-image: url(/img/clients/grenco.jpg)"></div>
    </div>
    <div class="grid-item" title="Stuffedibles">
      <div class="grid-item-bg" style="background-image: url(/img/clients/stuffed.jpg)"></div>
    </div>
    <div class="grid-item" title="Tealer">
      <div class="grid-item-bg" style="background-image: url(/img/clients/tealer.jpg)"></div>
    </div>
    <div class="grid-item" title="Sol Selects">
      <div class="grid-item-bg" style="background-image: url(/img/clients/sol_selects.jpg)"></div>
    </div>
    <div class="grid-item" title="Green St. Sugar">
      <div class="grid-item-bg" style="background-image: url(/img/clients/green_street_sugar.jpg)"></div>
    </div>
    <div class="grid-item" title="Apothecanna">
      <div class="grid-item-bg" style="background-image: url(/img/clients/apothecanna.jpg)"></div>
    </div>
  </div>
</div>
