<div id="branding" class="slide slide--branding">
  <div class="v-center">
    <div class="v-center-content">
      <div class="about-circle-container">
        <div class="about-circle">
          <div class="about-circle-content-wrap">
            <div class="about-circle-content">
              <div class="about-step">
                <h2 class="about-title">Branding &amp; Re-Branding</h2>
              </div>
              <div class="about-step">
                <h3>Brand Development</h3>
              </div>
              <div class="about-step">
                <h3>Brand and style guidelines</h3>
              </div>
              <div class="about-step">
                <h3>Storycrafting for brands</h3>
              </div>
              <div class="about-step">
                <h3>Art and Creative Direction</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
