<div id="process" class="slide slide--process">
  <div class="v-center">
    <div class="v-center-content">

      <h1 class="section-title">Our Process</h1>

      <div class="process-steps-inline clearfix">
        <div class="process-step-inline">
          <img src="/img/process/1.png"/>
          <div class="process-step-title">Learn</div>
        </div>
        <div class="process-step-inline">
          <img src="/img/process/2.png"/>
          <div class="process-step-title">Evaluate</div>
        </div>
        <div class="process-step-inline">
          <img src="/img/process/3.png"/>
          <div class="process-step-title">Plan</div>
        </div>
        <div class="process-step-inline">
          <img src="/img/process/4.png"/>
          <div class="process-step-title">Connect</div>
        </div>
        <div class="process-step-inline">
          <img src="/img/process/5.png"/>
          <div class="process-step-title">Execute</div>
        </div>
        <div class="process-step-inline">
          <img src="/img/process/6.png"/>
          <div class="process-step-title">Re-evaluate</div>
        </div>
      </div>

      <div class="process-steps-absolute clearfix">
        <div class="process-step-absolute">
          <img src="/img/process/1.png"/>
          <div class="process-step-title">Learn</div>
        </div>
        <div class="process-step-absolute">
          <img src="/img/process/2.png"/>
          <div class="process-step-title">Evaluate</div>
        </div>
        <div class="process-step-absolute">
          <img src="/img/process/3.png"/>
          <div class="process-step-title">Plan</div>
        </div>
        <div class="process-step-absolute">
          <img src="/img/process/4.png"/>
          <div class="process-step-title">Connect</div>
        </div>
        <div class="process-step-absolute">
          <img src="/img/process/5.png"/>
          <div class="process-step-title">Execute</div>
        </div>
        <div class="process-step-absolute">
          <img src="/img/process/6.png"/>
          <div class="process-step-title">Re-evaluate</div>
        </div>
      </div>



      <div class="process-step-descriptions">
        <div class="process-step-description">
          Immerse ourself in client culture and history
        </div>
        <div class="process-step-description">
          Find the core of the problem or opportunity facing the client
        </div>
        <div class="process-step-description">
          Strategically plan all elements of campaign and desired outcomes
        </div>
        <div class="process-step-description">
          Connect with the appropriate influencers and partners to shape a campaign
        </div>
        <div class="process-step-description">
          Flawlessly carry out the plan and vision
        </div>
        <div class="process-step-description">
          Look at the success as wall as ways to improve on future campaigns
        </div>
      </div>

    </div>
  </div>
</div>
