<div id="touch-points" class="slide slide--touch-points">
  <div class="slide-content">
    <div class="v-center">
      <div class="v-center-content">
        <div class="about-circle-container">
          <div class="about-circle">
            <div class="about-circle-content-wrap">
              <div class="about-circle-content">
                <div class="about-step">
                  <h2 class="about-title">Consumer Touch-points</h2>
                </div>
                <div class="about-step">
                  <h3>Social</h3>
                </div>
                <div class="about-step">
                  <h3>Interactives</h3>
                </div>
                <div class="about-step">
                  <h3>Product Development</h3>
                </div>
                <div class="about-step">
                  <h3>Packaging</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-background slide-background--touch"></div>
</div>
