<section id="branding" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--blue"></div>
    <div class="section-content">
      <h2 class="section-header">Branding &amp; Re-branding</h2>
      <ul class="section-points">
        <li>Development</li>
        <li>styleguides</li>
        <li>art &amp; creative direction</li>
        <li>Storycrafting</li>
      </ul>
      <div class="section-description">
        We help develop new brands with compelling stories and refresh existing brands that have grown out of touch with consumers.
      </div>
    </div>
  </div>
</section>