<section id="licensing" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--purple"></div>
    <div class="section-content">
      <h2 class="section-header">Licensing &amp; compliance</h2>
      <ul class="section-points">
        <li>licensing agreements</li>
        <li>contract negotiation</li>
        <li>strategy</li>
      </ul>
      <div class="section-description">
        <!-- TODO - Rewrite copy -->
        Connecting strategic partners and industry influencers with the right brands has been an essential component of our clients' long-term success.  This, coupled with our comprehensive understanding of local &amp; state marjuana regulations ensures success for your next idea.
      </div>
    </div>
  </div>
</section>
