<div id="executions" class="slide slide--executions">
  <div class="v-center">
    <div class="v-center-content">

      <div class="about-circle-container">
        <div class="about-circle">
          <div class="about-circle-content-wrap">
            <div class="about-circle-content">
              <div class="about-step">
                <h2 class="about-title">Scalable Executions</h2>
              </div>
              <div class="about-step">
                <h3>Video</h3>
              </div>
              <div class="about-step">
                <h3>Events</h3>
              </div>
              <div class="about-step">
                <h3>Staffing</h3>
              </div>
              <div class="about-step">
                <h3>Installation</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
