<div id="clients" style="background-color: salmon;">
  <div class="client-grid">
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
            Branding, identity, etc..
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/1.jpg);"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/2.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/3.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/4.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/4.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/1.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/2.jpg)"></div>
    </div>
    <div class="grid-item">
      <div class="grid-item-inner">
        <div class="grid-item-info-container">
          <div class="grid-item-info">
            <div class="grid-item-title">Client 1</div>
          </div>
        </div>
      </div>
      <div class="grid-item-bg" style="background-image: url(/img/clients/3.jpg)"></div>
    </div>
  </div>
</div>
