<section id="executions" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--blue"></div>
    <div class="section-content">
      <h2 class="section-header">scalable executions</h2>
      <ul class="section-points">
        <li>video</li>
        <li>events</li>
        <li>staffing</li>
        <li>installation</li>
      </ul>
      <div class="section-description">
        Need a flash mob in the middle of Manhattan?  Maybe a killer pop up space for your product launch?  We have partnerships to help bring us the scale we need to execute the most demanding jobs.
      </div>
    </div>
  </div>
</section>
