<section id="licensing" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--snoop"></div>
    <div class="section-content">
      <h2 class="section-header">Partnerships &amp; Licensing</h2>
      <ul class="section-points">
        <li>Influencer Network</li>
        <li>Licensing Relationships</li>
        <li>Contract negotiation</li>
      </ul>
      <div class="section-description">
        <!-- TODO - Rewrite copy -->
        Connecting strategic partners and industry influencers with the right brands has been an essential component of our clients' long-term success.
      </div>
    </div>
  </div>
</section>
