<section id="touch-points" class="section--ability js--full-screen js--parallax">
  <div class="section-inner">
    <div class="section-bg section-bg--purple"></div>
    <div class="section-content">
      <h2 class="section-header">Consumer touch-points</h2>
      <ul class="section-points">
        <li>Social</li>
        <li>Interactive</li>
        <li>Product development</li>
        <li>packaging</li>
      </ul>
      <div class="section-description">
        From package design to web design, everything we make tells a story and builds a connection to the consumer whether physical or digital.
      </div>
    </div>
  </div>
</section>
