@mixin reset-input-styles(){
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal;
  border-radius: 0;
  &:focus {
    outline: 0;
  }
}

.overlay-input {
  @include reset-input-styles();
  margin-bottom: $padding-xlarge-vertical;
  padding: 10px;
  width: 100%;
  background-color: $black;
  background-color: transparent;
  border-color: $white;
  border-color: transparentize($white, 0.2);
  border-style: solid;

  font-size: $font-size-base;

  &.error {
    border-color: #B93B3B;
    transition: border-color 100ms ease-out;
  }
}

input.overlay-input {
  border-width: 0 0 2px 0;
}

textarea.overlay-input {
  border-width: 2px;
  border-radius: 5px;
  height: 100px;
  padding-left: 10px - 2px // padding minus border-width
}

input[type="submit"].overlay-input {
  padding: 15px 45px;
  background-color: transparentize($black, 0.8);
  border: 2px solid $white;
  border-radius: 5px;
  font-size: $font-size-base;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 200ms ease;
  &:hover,
  &:active {
    color: $brand-primary;
    background-color: $white;
    transition: all 200ms ease;
  }
}

@media (min-width: $screen-sm-min) {
  .overlay-input {
    font-size: $font-size-large * 1.2;
  }
  input[type="submit"].overlay-input {
    display: inline-block;
    width: auto;
    float: right;
    font-size: $font-size-large * 1.2;
  }
}
