@import "variables";
@import "mixins";

@import "normalize";
@import "scaffolding";
@import "type";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "overlay";

@import "utilities";

@import "green-street";

body {
  margin: 0 auto;
  height: 100%;
}

.scroll-container {
  @include clearfix;
  min-height: 100%;
}

.slide {
  position: relative;
  height: 600px;
  width: 100%;
  left: 0;
  float: left;
  overflow: hidden;

  &--fixed {
    position: fixed !important;
    top: $header-height-xs !important;
  }
}

.slide-content {
  @include size(100%, 100%);
  position: relative;
  z-index: 1;
}

.slide-background {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  height: 200%;
  @include opacity(0.1);
  &--phone {
    background-image: url(/img/bg/phone.png);
  }
  &--touch {
    background-image: url(/img/bg/touch.png);
  }
  &--executions {
    background-image: url(/img/bg/executions.png);
  }
}

.v-center {
  display: table;
  height: 100%;
  width: 100%;
}
.v-center-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

@media (min-width: $screen-sm-min) {
  .slide {
    &--fixed {
      top: $header-height !important;
    }
  }
}
